button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: black;
}

button:active {
    background-color: blue;
}
body {
    text-align: center;
    background-color: wheat;
}
h1 {
    background-color: yellow;
    color: rgb(139, 0, 0);
}
h1:hover {
    background-color: yellow;
    color: white;
}